---
---

:root {
  --color-text: #ffffff;
  --color-primary: #1C1E35;
  --color-accent: #0FDBC6;
  --color-secondary: #2CB0FF;
  --size-border: .125rem;
  --size-border-radius: .5rem;
}

@charset "utf-8";

@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;

  background-color: var(--color-primary);
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: initial;
  background-position: calc(100% + 90px) calc(100% + 50px);
  scroll-behavior: smooth;
}

body {
  height: 100%;
  color: var(--color-text);
}

header {
  img {
    height: 50px;
  }

  nav {
    & .nav-link {
      font-weight: 700;
      text-decoration: none;
      
      &.active,
      &:hover,
      &:focus {
        border-bottom-color: var(--color-accent);
        color: var(--color-accent);
      }
    }

    .nav-link + .nav-link:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

a {
  color: var(--color-text);
  text-decoration: none;

  &:focus,
  &:hover {
    color: var(--color-accent);
    text-decoration: none;
  }
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  color: var(--color-text);
  background-color: var(--color-primary);
  border: var(--size-border) solid var(--color-accent);
  border-radius: var(--size-border-radius);
  text-transform: uppercase;
  box-shadow: none !important;
}

.btn-primary:active {
  background-color: var(--color-accent) !important;
  border-color: var(--color-accent) !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: var(--size-border) solid var(--color-secondary);
  border-radius: var(--size-border-radius);
  text-transform: uppercase;
  box-shadow: none !important;
}

.btn-secondary:active {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-secondary) !important;
}