@import "/css/base.css";

header.mb-5 {
  margin-bottom: 0 !important;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.5rm;
}

table td {
  border: var(--size-border) solid var(--color-text);
  padding: 1rem;

  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

table td span {
  display: block;
  font-size: 1rem;
  font-weight: 300;
}

main {
  min-height: 100%;
}

.partner img,
.speaker img {
  height: 4rem;
}

.speaker a {
  font-size: 1.2rem;
}

.bordered {
  background-clip: padding-box;

  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 
    0 0 0 5px #293463,
    0 0 0 10px #325b88,
    0 0 0 15px #533264,
    0 0 0 20px #423163
}

.map-content {
  color: var(--color-primary);
}

.map-content a {
  color: inherit;
}

.map-content .name {
  font-weight: bold;
}

.sponsor img {
  width: 100%;
}