@import "/css/base.css";

.speaker img {
  max-width: 100%;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 400;
}

@media (min-width: 576px) {
  h1, h2 {
    text-align: left;
  }
}