{% assign url = page.url | split: '/' %}
{% assign today = site.time | date: '%Y' | convert: "number" %}
{% assign event = site.events | where:"current", true | first %}

{% if url[2] %}
  {% assign year = url[1] | convert: "number" %}
  {% assign city = url[2] %}
{% else %}
  {% assign year = event.date | date: '%Y' %}
  {% assign city = event.city | downcase %}
{% endif %}

{% assign partners = site.partners | where: "year", year | where: "city", city %}
{% assign speakers = site.speakers | where: "year", year | where: "city", city %}
{% assign sponsors = site.sponsors | where: "year", year | where: "city", city %}

{% assign home = '/' | append: year | append: '/' | append: city | append: '/' %}

<header class="d-flex justify-content-between mb-5">
  <img class="d-none d-md-block" src="/images/{{ year }}/icon.svg"/>

  <nav class="nav my-auto">
    <a class="nav-link {% if page.url == home %}active{% endif %}" href="{{ home }}">Home</a>

    {% if url[2] %}
      {% if speakers.size > 0 %}
        <a class="nav-link" href="/{{ year }}/{{ city }}/#speakers">Speakers</a>
      {% endif %}

      {% if sponsors.size > 0 %}
        <a class="nav-link" href="/{{ year }}/{{ city }}/#sponsors">Sponsors</a>
      {% endif %}

      {% if partners.size > 0 %}
        <a class="nav-link" href="/{{ year }}/{{ city }}/#partners">Partners</a>
      {% endif %}
    {% endif %}
    
    <a class="nav-link" href="/events">{% if url[2] or today > year %}Future Events{% else %}Past Events{% endif %}</a>

    {% if year >= today %}
      <a class="nav-link btn btn-primary d-none d-md-block" href="/{{ year }}/{{ city }}/#tickets">Register Now</a>
    {% endif %}
  </nav>
</header>