{% assign title = page.title | default: site.title %}
{% assign description = page.description | default: site.description %}

<title>{{ title }}</title>

<!-- SEO -->
<meta name="description" content="{{ description }}"/>
<meta name="image" content="{{ site.url }}/images/banner.png"/>

<!-- Schema.org for Google -->
<meta itemprop="name" content="{{ title }}"/>
<meta itemprop="description" content="{{ description }}"/>
<meta itemprop="image" content="{{ site.url }}/images/banner.png"/>

<!-- Twitter -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{ title }}"/>
<meta name="twitter:description" content="{{ description }}"/>
<meta name="twitter:site" content="{{ page.twitter | default: '@FunctionsConf' }}"/>
<meta name="twitter:creator" content="@ahmadnassri"/>
<meta name="twitter:image:src" content="{{ site.url }}/images/twitter.png"/>

<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="{{ title }}"/>
<meta name="og:description" content="{{ description }}"/>
<meta name="og:image" content="{{ site.url }}/images/open-graph.png"/>
<meta name="og:url" content="{{ site.url }}/"/>
<meta name="og:site_name" content="{{ site.title }}"/>
<meta name="fb:admins" content="227304446"/>
<meta name="og:type" content="website"/>
