---
layout: blank
---

{% assign date = site.time %}
{% assign year = page.date | date: '%Y' %}
{% assign city = page.city | downcase %}

{% assign speakers = site.speakers | where: "year", year | where: "city", page.city %}

<main class="container d-flex flex-column w-100 pt-5 mx-auto">
  {% include header.html %}

  <div class="d-block d-md-none mt-5"></div>

  <div class="row d-flex align-items-center my-auto">
    <section class="col-12 col-lg-7 col-xl-8">
      <img class="w-100 mb-4" src="/images/{{ year }}/{{ city }}/logo.svg"/>

      <div class="lead mb-5">{{ content }}</div>

      {% if page.date >= date %}
        <div class="row my-5">
          <div class="col-12 col-sm-6 mb-3">
            <a href="#tickets" class="btn btn-lg btn-primary btn-block" id="body-ticket">Reserve Your Spot</a>
          </div>
          <div class="col-12 col-sm-6 mb-3">
            <a href="{{ page.cfp }}" class="btn btn-lg btn-secondary btn-block">Call for Papers</a>
          </div>
        </div>
      {% endif %}
    </section>

    <section class="col-12 offset-lg-1 col-lg-4 offset-xl-1 col-xl-3">
      <table class="w-100">
        <tr>
          <td><span>{{ page.date | date: "%A" }}</span>{{ page.date | date: "%d - %b - %Y" }}</td>
        </tr>
        <tr>
          <td colspan="2"><span>Canada</span>{{ page.city }}</td>
        </tr>
        <tr>
          <td colspan="2"><span>Venue</span> <a href="#location">{{ page.venue.name }}</a></td>
        </tr>
      </table>
    </section>
  </div>
</main>

{% if speakers.size > 0 %}
  <div class="container w-100 my-5">
    <h2 id="speakers" class="py-5">Speakers</h2>
    <div class="row">
      {% for speaker in speakers %}
        <div class="speaker col-sm-4 my-3">
          <img class="mr-3" src="/images/{{ year }}/{{ city }}/speakers/{{ speaker.slug }}.png"/>
          <!-- <a href="{{ speaker.url }}">{{ speaker.name }}</a> -->
          {{ speaker.name }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if page.date >= date and page.eventbrite %}
  <div class="container w-100 h-100 my-5">
    <h2 id="tickets" class="py-5">Tickets</h2>

    <div id="eventbrite-widget-container-{{ page.eventbrite }}" class="h-75 bordered"></div>
  </div>
{% endif %}

{% if partners.size > 0 %}
  <div class="container w-100 my-5">
    <h2 id="partners" class="py-5">Partners</h2>

    {% for partner in site.partners %}
      <div class="partner col-sm-4 my-3">
        <img class="mr-3" src="partners/{{ partner.slug }}.svg"/>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if speaker.size > 0 %}
  <div class="container w-100 my-5">
    <h2 id="schedule" class="py-5">Schedule</h2>
  </div>
{% endif %}

{% if page.venue %}
  <div class="container w-100 my-5">
    <h2 id="location" class="py-5">Location</h2>
    <p><strong>{{ page.venue.name }}</strong></p>
    <p><a href="{{ page.venue.map }}">{{ page.venue.address }}</a></p>
  </div>

  <div class="container h-50">
    <div id="map" class="h-100 bordered"></div>
  </div>
{% endif %}

{% if page.date >= date and page.eventbrite %}
  <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
  <script type="text/javascript">
    window.EBWidgets.createWidget({
      // Required
      widgetType: 'checkout',
      eventId: '{{ page.eventbrite }}',
      iframeContainerId: 'eventbrite-widget-container-{{ page.eventbrite }}',

      // Optional
      iframeContainerHeight: 500,
      onOrderComplete: () => console.log('Order complete!')
    })
  </script>
{% endif %}

{% if page.venue %}
  <script>
    const venue = {{ page.venue | jsonify }}
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOs6YXRoFe_HJKsUaRYSthoY8JWKEQnWM&libraries=places"></script>
  <script src="/js/map.js"></script>
{% endif %}

{% include footer.html %}