---
layout: blank
---

{% assign current = page.url | split: '/' %}

{% assign year = current[1] %}
{% assign city = current[2] %}

{% assign speakers = site.speakers | where: "year", year | where: "city", city %}

<div class="container d-flex flex-column w-100 h-100 pt-5 mx-auto">
  {% include header.html %}

  <div class="d-flex justify-content-between align-items-center my-auto">
    <section class="title w-75">
      <img class="w-100 mb-4" src="/images/{{ year }}/logo.svg"/>

      <div class="d-flex align-items-center  mb-5">
        <img class="w-50" src="/images/serverlessdays.svg"/> 
        <h2 class="m-0 ml-4">{{ page.city }}</h2>
      </div>

      <div class="lead mb-5">{{ content }}</div>
      
      <a href="#tickets" class="btn btn-lg btn-primary px-5" id="body-ticket">Register Now</a>
    </section>

    <section>
      <table>
        <tr>
          <td><span>{{ page.date | date: "%A" }}</span>{{ page.date | date: "%d - %b - %Y" }}</td>
        </tr>
        <tr>
          <td colspan="2"><span>Canada</span>{{ page.city }}</td>
        </tr>
        <tr>
          <td colspan="2"><span>Venue</span> <a href="#location">{{ page.venue }}</a></td>
        </tr>
      </table>
    </section>
  </div>
</div>

{% if speakers.size > 0 %}
  <div class="container w-100 my-5">
    <h2 id="speakers" class="py-5">Speakers</h2>
    <div class="row">
      {% for speaker in speakers %}
        <div class="speaker col-sm-4 my-3">
          <img class="mr-3" src="/images/{{ year }}/{{ city }}/speakers/{{ speaker.slug }}.png"/>
          <!-- <a href="{{ speaker.url }}">{{ speaker.name }}</a> -->
          {{ speaker.name }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if page.eventbrite %}
  <div class="container w-100 h-100 my-5">
    <h2 id="tickets" class="py-5">Tickets</h2>
    <div id="eventbrite-widget-container-{{ page.eventbrite }}" class="h-75"></div>

    <script type="text/javascript">
      window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '{{ page.eventbrite }}',
        iframeContainerId: 'eventbrite-widget-container-{{ page.eventbrite }}',

        // Optional
        iframeContainerHeight: 500,
        onOrderComplete: () => console.log('Order complete!')
      })
    </script>
  </div>
{% endif %}

{% if partners.size > 0 %}
  <div class="container w-100 my-5">
    <h2 id="partners" class="py-5">Partners</h2>

    {% for partner in site.partners %}
      <div class="partner col-sm-4 my-3">
        <img class="mr-3" src="partners/{{ partner.slug }}.svg"/>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if speaker.size > 0 %}
  <div class="container w-100 my-5">
    <h2 id="schedule" class="py-5">Schedule</h2>
  </div>
{% endif %}

<div class="container w-100 my-5">
  <h2 id="location" class="py-5">Location</h2>
  <p>{{ page.venue }}</p>
</div>

<!-- {% include footer.html %} -->
<div id="map" class="container w-100 h-50"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOs6YXRoFe_HJKsUaRYSthoY8JWKEQnWM"></script>
<script src="/js/map.js"></script>