---
layout: blank
---

{% assign date = site.time %}
{% assign year = page.date | date: '%Y' %}
{% assign city = page.city | downcase %}

{% assign panels = site.panels | where: "year", year | where: "city", city %}
{% assign speakers = site.speakers | where: "year", year | where: "city", city %}
{% assign sponsors = site.sponsors | where: "year", year | where: "city", city %}
{% assign partners = site.partners | where: "year", year | where: "city", city %}

<main class="container d-flex flex-column w-100 pt-5 mx-auto">
  {% include header.html %}

  <div class="d-block d-md-none mt-5"></div>

  <div class="row d-flex align-items-center my-auto">
    <section class="col-12 col-lg-7 col-xl-8">
      <img class="w-100 mb-4" src="/images/{{ year }}/{{ city }}/logo.svg"/>

      <div class="d-block d-md-none mt-5"></div>

      <div class="lead mb-5">{{ content }}</div>

      {% if page.date >= date %}
        <div class="row my-5">
          <div class="col-12 col-sm-12 mb-3">
            <a href="#tickets" class="btn btn-lg btn-primary btn-block">Reserve Your Spot</a>
          </div>
          <div class="col-12 col-sm-6 mb-3">
            <a target="_blank" href="{{ page.cfp }}" class="btn btn-lg btn-secondary btn-block">Apply to speak</a>
          </div>
          <div class="col-12 col-sm-6 mb-3">
            <a target="_blank" href="http://eepurl.com/dzb06P" class="btn btn-lg btn-secondary btn-block">Newsletter Sign up</a>
          </div>
        </div>
      {% endif %}
    </section>

    <section class="col-12 offset-lg-1 col-lg-4 offset-xl-1 col-xl-3">
      <table class="schedule w-100">
        <tr>
          <td><span><a href="#schedule">{{ page.date | date: "%A" }}</span>{{ page.date | date: "%d - %b - %Y" }}</a></td>
        </tr>
        <tr>
          <td colspan="2"><span>Canada</span>{{ page.city }}</td>
        </tr>
        <tr>
          <td colspan="2"><span>Venue</span> <a href="#location">{{ page.venue.name }}</a></td>
        </tr>
      </table>
    </section>
  </div>
</main>

{% if speakers.size > 0 %}
  <div class="container w-100 my-5">
    <h2 id="speakers" class="py-5">Speakers</h2>
    <div class="row">
      {% for speaker in speakers %}
        <div class="speaker col-6 col-sm-6 col-md-3 my-3">
          <a href="{{ speaker.url }}" class="d-flex flex-column align-items-center text-center">
            <div class="hex photo-border"><img class="photo" src="/images/{{ year }}/{{ city }}/speakers/{{ speaker.slug }}.jpg"/></div>
            <p>{{ speaker.name }}<br/><span>{{ speaker.company }}</span></p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if sponsors.size > 0 %}
  {% assign bronze = sponsors | where: "level", "gold" %}
  {% assign silver = sponsors | where: "level", "silver" %}
  {% assign gold = sponsors | where: "level", "bronze" %}

  <div class="container w-100 my-5">
    <h2 id="sponsors" class="py-5">Sponsors</h2>
    <div class="row">
      {% for sponsor in gold %}
        <div class="sponsor col-sm-6 my-5">
          <a target="_blank" href="{{ sponsor.link }}"><img src="/images/{{ year }}/{{ city }}/sponsors/{{ sponsor.slug }}.svg"/></a>
        </div>
      {% endfor %}

      {% for sponsor in silver %}
        <div class="sponsor col-sm-6 my-5">
          <a target="_blank" href="{{ sponsor.link }}"><img src="/images/{{ year }}/{{ city }}/sponsors/{{ sponsor.slug }}.svg"/></a>
        </div>
      {% endfor %}

      {% for sponsor in bronze %}
        <div class="sponsor col-sm-6 my-5">
          <a target="_blank" href="{{ sponsor.link }}"><img src="/images/{{ year }}/{{ city }}/sponsors/{{ sponsor.slug }}.svg"/></a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if page.schedule %}
  <div class="container w-100 my-5">
    <h2 id="schedule" class="py-5">Schedule</h2>

    <table class="agenda">
      {% for item in page.schedule %}
        {% assign panel = panels | where: "slug", item.panel | first %}
        {% assign speaker = speakers | where: "slug", item.speaker | first %}
        <tr>
          <td width="140" class="d-none d-sm-table-cell"><time>{{ item.time | date: "%I:%M %p" }}</time></td>
          <td class="d-none d-md-table-cell">
            {% if item.type == 'talk' %}
              <a href="{{ speaker.url }}"><img class="hex" src="/images/{{ year }}/{{ city }}/speakers/{{ speaker.slug }}.jpg"/></a>
            {% elsif item.type == 'panel' %}
              <a href="{{ panel.url }}"><img class="hex" src="/images/{{ year }}/icon-fill.png"/></a>
            {% else %}
              <img class="hex" src="/images/{{ year }}/icon-fill.png"/>
            {% endif %}
          </td>
          <td>
            <time class="d-sm-none">{{ item.time | date: "%I:%M %p" }}</time>
            {% if item.type == 'talk' %}
              <a href="{{ speaker.url }}"><span>{{ speaker.name }}</span></a>
              <a href="{{ speaker.url }}">{{ speaker.talk }}</a>
            {% elsif item.type == 'panel' %}
              <a href="{{ panel.url }}"><span>Panel</span></a>
              <a href="{{ panel.url }}">{{ panel.title }}</a>
            {% else %}
              {{ item.title }}
            {% endif %}
            
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endif %}

{% if page.date >= date and page.eventbrite %}
  <div class="container w-100 h-100 my-5">
    <h2 id="tickets" class="py-5">Tickets</h2>

    <div id="eventbrite-widget-container-{{ page.eventbrite }}" class="h-75 bordered"></div>
  </div>
{% endif %}

{% if partners.size > 0 %}
  <div class="container w-100 my-5">
    <h2 id="partners" class="py-5">Partners</h2>

    <div class="row align-items-center">
      {% for partner in site.partners %}
        <div class="partner col-sm-2 my-5">
          <a href="{{ partner.link }}"><img src="/images/{{ year }}/{{ city }}/partners/{% if partner.logo %}{{ partner.logo }}{% else %}{{ partner.slug }}.svg{% endif %}"/></a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if page.venue %}
  <div class="container w-100 my-5">
    <h2 id="location" class="py-5">Location</h2>
    <p><strong>{{ page.venue.name }}</strong></p>
    <p><a href="{{ page.venue.map }}">{{ page.venue.address }}</a></p>
  </div>

  <div class="container h-50">
    <div id="map" class="h-100 bordered"></div>
  </div>
{% endif %}

{% if page.date >= date and page.eventbrite %}
  <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
  <script type="text/javascript">
    window.EBWidgets.createWidget({
      // Required
      widgetType: 'checkout',
      eventId: '{{ page.eventbrite }}',
      iframeContainerId: 'eventbrite-widget-container-{{ page.eventbrite }}',

      // Optional
      iframeContainerHeight: 500,
      // onOrderComplete: () => console.log('Order complete!')
    })
  </script>
{% endif %}

{% if page.venue %}
  <script>
    const venue = {{ page.venue | jsonify }}
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOs6YXRoFe_HJKsUaRYSthoY8JWKEQnWM&libraries=places"></script>
  <script src="/js/map.js"></script>
{% endif %}

{% include footer.html %}
