---
layout: default
---

<div class="my-5">
  <h1>Panel</h1>
  <h2>{{ page.title }}</h2>

  <div class="row">
    {% for name in page.panelists %}
      {% assign speaker = site.speakers | where: "year", page.year | where: "city", page.city | where: "name", name | first %}
      <div class="speaker col-6 col-sm-6 col-md-2 my-3">
        <a href="{{ speaker.url }}" class="d-flex flex-column align-items-center text-center">
          <img class="hex" src="/images/{{ page.year }}/{{ page.city }}/speakers/{{ speaker.slug }}.jpg"/>
          <p>{{ speaker.name }}<br/><span>{{ speaker.company }}</span></p>
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="my-5">{{ content }}</div>

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/{{ page.video }}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>