---
layout: default
---

{% assign edition = page.edition | split: '-' %}
{% assign year = edition[0] %}
{% assign city = edition[1] %}
{% assign event = site.events | where:"edition", page.edition | first %}

<div class="row my-5">
  <div class="photo col-sm-3 mb-4">
    <img class="hex" src="/images/{{ year }}/{{ city }}/speakers/{{ page.slug }}.jpg"/>
  </div>

  <div class="col-sm-8">
    <h1>{{ page.name }}</h1>
    <h2 class="mb-4">{{ page.company }}</h2>
    {{ page.bio | markdownify }}
  </div>
</div>

<h2>{{ page.talk }}</h2>
<div class="my-5">{{ content }}</div>

{% if event.date > site.time %}
  <a class="nav-link btn btn-lg btn-primary d-none d-md-block" href="/{{ year }}/{{ city }}/#tickets">Register to attend this talk</a>
{% endif %}

{% if page.speakerdeck %}
  <script class="speakerdeck-embed" data-id="{{ page.speakerdeck }}" data-ratio="1.77777777777778" src="https:////speakerdeck.com/assets/embed.js"></script>
{% endif %}

{% if page.video %}
  <div class="embed-responsive embed-responsive-16by9 my-5">
    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/{{ page.video }}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
{% endif %}

