---
layout: default
---

<div class="row my-5">
  <div class="photo col-sm-3 mb-4">
    <img src="/images/{{ page.year }}/{{ page.city | downcase }}/speakers/{{ page.slug }}.png"/>
  </div>

  <div class="col-sm-8">
    <h1>{{ page.name }}</h1>
    <h2 class="mb-4">{{ page.company }}</h2>
    <p>{{ page.bio }}</p>
  </div>
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/{{ page.video }}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div class="mt-5">{{ content }}</div>